<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="{{ url_for('static', filename='js/login_signup.js') }}" defer></script>
</head>
<body>
    
    <section class="lobby">
        <h1>WELCOME TO TODOLIST</h1>
    </section>
    <div class="options">
        <button id="login" class="choice">Login</button>
        <button id="signup" class="choice">Signup</button>
    </div>
</body>
</html>